@using CMS.Models
@inject IHttpContextAccessor _httpContextAccessor
@model BALibrary.Medical.LabReportDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
    string pageName = ViewContext.RouteData.Values["controller"].ToString();
    string areaName = ViewContext.RouteData.Values["area"].ToString();
    int userRoleId = Convert.ToInt32(_httpContextAccessor.HttpContext.Session.GetString(SessionVariable.SessionKeyUserRoleId));

}

<h1>Edit</h1>

<h4>LabReportDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LabReportId" class="control-label"></label>
                <select asp-for="LabReportId" class="form-control" asp-items="ViewBag.LabReportId"></select>
                <span asp-validation-for="LabReportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Case" class="control-label"></label>
                <input asp-for="Case" class="form-control" />
                <span asp-validation-for="Case" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseDetail" class="control-label"></label>
                <textarea asp-for="CaseDetail" class="form-control"></textarea>
                <span asp-validation-for="CaseDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" onclick="history.go(-1)" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href='javascript:history.go(-1)'>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
