@model BALibrary.Prescription.PrescriptionDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>PrescriptionDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PrescriptionId" class="control-label"></label>
                <select asp-for="PrescriptionId" class="form-control" asp-items="ViewBag.PrescriptionId"></select>
                <span asp-validation-for="PrescriptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicineName" class="control-label"></label>
                <input asp-for="MedicineName" class="form-control" />
                <span asp-validation-for="MedicineName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescribedAmount" class="control-label"></label>
                <input asp-for="PrescribedAmount" class="form-control" />
                <span asp-validation-for="PrescribedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherDetail" class="control-label"></label>
                <textarea asp-for="OtherDetail" class="form-control"></textarea>
                <span asp-validation-for="OtherDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href='javascript:history.go(-1)'>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
