@model BALibrary.Medical.LabReportDetail

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>LabReportDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-danger">@ViewBag.LabReportError</div>
            <div class="form-group">
                <label asp-for="LabReportId" class="control-label"></label>
                <select asp-for="LabReportId" class ="form-control" asp-items="ViewBag.LabReportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Case" class="control-label"></label>
                <Select asp-for="Case" class="form-control" asp-items="ViewBag.LabRequestDetails"></select>
                <span asp-validation-for="Case" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseDetail" class="control-label"></label>
                <textarea asp-for="CaseDetail" class="form-control"></textarea>
                <span asp-validation-for="CaseDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href='javascript:history.go(-1)'>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
