@using CMS.Models
@{
    var thisweek = Common.TotalPatientEntriesForLast(-1);
    var thismonth = Common.TotalPatientEntriesForLast(0);
    var lastmonth = Common.TotalPatientEntriesForLast(1);
    var last2month = Common.TotalPatientEntriesForLast(2);
    var last3month = Common.TotalPatientEntriesForLast(3);
    var last4month = Common.TotalPatientEntriesForLast(4);
}


<div class="card">
    <div class="card-header border-0">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">Sales</h3>
            <a href="javascript:void(0);">View Report</a>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <p class="d-flex flex-column">
                <span class="text-bold text-lg">@ViewBag.AllEntries</span>
                <span>All Patient Entries</span>
            </p>
            <p class="ml-auto d-flex flex-column text-right">
                <span class="text-success">
                    <i class="fas fa-arrow-up"></i> 33.1%
                </span>
                <span class="text-muted">Since last month</span>
            </p>
        </div>
        <!-- /.d-flex -->

        <div class="position-relative mb-4">
            <canvas id="barChart"
                    style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 289px;"
                    height="1000" width="1156"
                    class="chartjs-render-monitor"></canvas>
        </div>

        <div class="d-flex flex-row justify-content-end">
            <span class="mr-2">
                <i class="fas fa-square text-primary"></i> This year
            </span>
        </div>
    </div>
</div>

<div class="card" style="float: left">
    <div class="card-header border-0">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">Total sessions handled</h3>
            <a href="javascript:void(0);">View Report</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Docter Name</th>
                    <th>This Month</th>
                    <th>Total Cases</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in ViewBag.Docter)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@Common.GetThisMonth(item.Id)</td>
                        <td>@Common.GetAllCases(item.Id)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>

</div>
